.section.maintenance {
  background-color: $secondaryColor;
  color: $white;
  height: calc(100vh - 10px - 1em) !important;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
  }
}