$poppins: (
  100: $internalLinkPrefix + 'data/fonts/Poppins-Thin.ttf',
  200: $internalLinkPrefix + 'data/fonts/Poppins-ExtraLight.ttf',
  300: $internalLinkPrefix + 'data/fonts/Poppins-Light.ttf',
  400: $internalLinkPrefix + 'data/fonts/Poppins-Regular.ttf',
  500: $internalLinkPrefix + 'data/fonts/Poppins-Medium.ttf',
  600: $internalLinkPrefix + 'data/fonts/Poppins-SemiBold.ttf',
  700: $internalLinkPrefix + 'data/fonts/Poppins-Bold.ttf',
  800: $internalLinkPrefix + 'data/fonts/Poppins-ExtraBold.ttf',
  900: $internalLinkPrefix + 'data/fonts/Poppins-Black.ttf',
);

@each $weight,
$url in $poppins {
  @font-face {
    font-family: 'Poppins';
    src: url($url);
    font-weight: $weight;
    // font-style: normal;
  }
}


body {
  font-family: $primaryFont;
  color: $textColor;
  @include desktop {
    font-size: 16px;
  }
  @include laptop {
    font-size: 16px;
  }
  @include tablet-landscape {
    font-size: 15px;
  }
  @include tablet-portrait {
    font-size: 15px;
  }
  @include mobile {
    font-size: 14px;
  }
}

h1 {
  font-size: $fsH1;
}

h2 {
  font-size: $fsH2;
}

h3 {
  font-size: $fsH3;
}

h4 {
  font-size: $fsH4;
}

h5 {
  font-size: $fsH5;
}

h6 {
  font-size: $fsH6;
}

.bold {
  font-weight: $fwBold;
}

.light {
  font-weight: $fwLight;
}

.h1 {
  font-size: $fsH1;
  @include h-template;
}

.h2 {
  font-size: $fsH2;
  display: block;
  font-weight: bold;
  @include h-template;
}

.h3 {
  font-size: $fsH3;
  @include h-template;
}

.h4 {
  font-size: $fsH4;
  @include h-template;
}

.h5 {
  font-size: $fsH5;
  @include h-template;
}

.h6 {
  font-size: $fsH6;
  @include h-template;
}

.text {
  font-size: $fsText;
}