@keyframes appear-links {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide-links {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}



@keyframes main-animation {
  from {
    transform: translateY(0) translateX(0);
  }
  to {
    @include main-transform(310px);
  }
}

@keyframes back-page-one {
  0% {
    transform: translate(0);
  }
  5% {
    @include main-transform(310px);
  }
  100% {
    @include main-transform(225px);
  }
}

@keyframes back-page-two {
  0% {
    transform: translate(0);
  }
  20% {
    @include main-transform(310px);
  }
  100% {
    @include main-transform(140px);
  }
}

@keyframes back-page-three {
  0% {
    transform: translate(0);
  }
  20% {
    @include main-transform(310px);
  }
  100% {
    @include main-transform(60px);
  }
}




@keyframes main-animation-mobile {
  from {
    transform: translateY(0) translateX(0);
  }
  to {
    @include main-transform(200px);
  }
}

@keyframes back-page-one-mobile {
  0% {
    transform: translate(0);
  }
  5% {
    @include main-transform(200px);
  }
  100% {
    @include main-transform(150px);
  }
}

@keyframes back-page-two-mobile {
  0% {
    transform: translate(0);
  }
  20% {
    @include main-transform(200px);
  }
  100% {
    @include main-transform(100px);
  }
}

@keyframes back-page-three-mobile {
  0% {
    transform: translate(0);
  }
  20% {
    @include main-transform(200px);
  }
  100% {
    @include main-transform(50px);
  }
}




@keyframes main-animation-500px {
  from {
    transform: translateY(0) translateX(0);
  }
  to {
    @include main-transform(140px);
  }
}

@keyframes back-page-one-500px {
  0% {
    transform: translate(0);
  }
  5% {
    @include main-transform(140px);
  }
  100% {
    @include main-transform(110px);
  }
}

@keyframes back-page-two-500px {
  0% {
    transform: translate(0);
  }
  20% {
    @include main-transform(140px);
  }
  100% {
    @include main-transform(75px);
  }
}

@keyframes back-page-three-500px {
  0% {
    transform: translate(0);
  }
  20% {
    @include main-transform(140px);
  }
  100% {
    @include main-transform(40px);
  }
}
