// ------------------------- Media Queries -------------------------
@mixin desktop {
  @media screen and (min-width: calc(#{map-get($breakpoints, laptop)} + .01px)) {
    @include responsive-transition;
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: map-get($breakpoints, laptop)) and (min-width: calc(#{map-get($breakpoints, tablet-landscape)} + .01px)) {
    @include responsive-transition;
    @content;
  }
}

@mixin tablet-landscape {
  @media screen and (max-width: map-get($breakpoints, tablet-landscape)) and (min-width: calc(#{map-get($breakpoints, tablet-portrait)} + .01px)) {
    @include responsive-transition;
    @content;
  }
}

@mixin tablet-portrait {
  @media screen and (max-width: map-get($breakpoints, tablet-portrait)) and (min-width: calc(#{map-get($breakpoints, mobile)} + .01px)) {
    @include responsive-transition;
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    @include responsive-transition;
    @content;
  }
}

@mixin breakpoint($px) {
  @media screen and (max-width: $px) {
    @include responsive-transition;
    @content;
  }
}


@mixin media($keys...){
  @each $key in $keys { 
    @if ($key == mobile) {
      @include mobile {
        @content
      } 
    }
    @else if ($key == tablet-portrait) {
      @include tablet-portrait {
        @content
      } 
    }
    @else if ($key == tablet-landscape) {
      @include tablet-landscape {
        @content
      } 
    }
    @else if ($key == laptop) {
      @include laptop {
        @content
      } 
    }
    @else if ($key == desktop) {
      @include desktop {
        @content
      } 
    }
  }
}

// ------------------------- Transitions -------------------------
@mixin responsive-transition {
  transition: all .4s ease, font-size 0s, background-color 0s, color 0s;
}

@mixin responsive-transition-btn {
  transition: .25s, background-color .25s, color .25s, font-size 0s, padding 0s !important;
}

@mixin transition-btn {
  transition: box-shadow .2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

// ------------------------- Fonts -------------------------
@mixin h1 {
  font-size: $fsH1;
}
@mixin h2 {
  font-size: $fsH2;
}
@mixin h3 {
  font-size: $fsH3;
}
@mixin h4 {
  font-size: $fsH4;
}
@mixin h5 {
  font-size: $fsH5;
}
@mixin h6 {
  font-size: $fsH6;
}
@mixin text {
  font-size: $fsText;
}
@mixin bold {
  font-weight: $fwBold;
}
@mixin light {
  font-weight: $fwLight;
}

// ------------------------- Others -------------------------
@mixin main-transform ($translateZ) {
  transform: perspective(1300px) rotateY(20deg) translateZ($translateZ) scale(0.5);
}

@mixin shadow-btn($shadow-color) {
  box-shadow: 0 14px 26px -12px rgba($color: $shadow-color, $alpha: 0.42), 0 4px 23px 0px rgba($color: $shadow-color, $alpha: 0.12), 0 8px 10px -5px rgba($color: $shadow-color, $alpha: 0.2);
}

@mixin shadow-header-noScroll {
  box-shadow: 0 0 10px #000;
}

@mixin shadow-global {
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
}

@mixin custom-shadow($color) {
  box-shadow: 0 0 20px 2px $color;
}

@mixin hero-bg($url, $size) {
  background: url($url) center / $size no-repeat;
}

@mixin white-shadow-btn {
  box-shadow: 0px 0px 9px 2px rgba(156, 156, 156, 0.5);
}

@mixin lite-white-shadow-btn {
  box-shadow: 0px 0px 9px 2px rgba(156, 156, 156, 0.25);
}